# Porta dinâmica do Render
server.port=${PORT:8080}

# Datasource (pegando de env vars)
spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USER}
spring.datasource.password=${DB_PASS}
spring.jpa.hibernate.ddl-auto=update

# JWT
jwt.secret=${JWT_SECRET}
jwt.expirationMs=${JWT_EXPIRATION_MS:86400000}

# CORS (lista separada por vírgula)
cors.allowed-origins=${CORS_ORIGINS}

# (opcional) log
logging.level.root=${LOGGING_LEVEL_ROOT:INFO}
logging.level.org.springframework=${LOGGING_LEVEL_ORG_SPRINGFRAMEWORK:WARN}
